# Ensemble Learning

## Initial Imports

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
csvpath = Path("../Resources/loanstats_2019Q1.csv")

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

## Read the CSV and Perform Basic Data Cleaning

In [4]:
# Load the data
file_path = Path('Resources/loanstats_2019Q1.csv')
df = pd.read_csv(file_path)

# Preview the data
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

## Split the Data into Training and Testing

In [12]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [17]:
# Create our features
X = df[columns].copy() 

# Create our target
y = df[target]

In [23]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,6.881700e+04,6.881700e+04,68817.000000,6.881700e+04
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.052138,2.219423,95.057627,30.626217,0.125972,0.0,2.100332e+05,6.133843e+04,29734.128558,5.572240e+04
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.390633,1.897432,8.326426,33.631463,0.336732,0.0,1.928088e+05,5.738798e+04,26795.394232,5.095845e+04
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,20.000000,0.000000,0.000000,0.0,3.600000e+03,2.350000e+02,100.000000,1.270000e+02
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,1.000000,93.000000,0.000000,0.000000,0.0,6.697700e+04,2.650300e+04,11600.000000,2.288000e+04
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,2.000000,100.000000,20.000000,0.000000,0.0,1.467100e+05,4.535700e+04,22100.000000,4.200000e+04
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,3.000000,100.000000,50.000000,0.000000,0.0,3.036400e+05,7.657000e+04,39300.000000,7.249900e+04
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,18.000000,19.000000,100.000000,100.000000,4.000000,0.0,3.292782e+06,1.295455e+06,509400.000000,1.426964e+06

In [24]:
# Check the balance of our target values
y['loan_status'].value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [26]:
# Split the X and y into X_train, X_test, y_train, y_test
# YOUR CODE HERE
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_cat, y, random_state=1)

## Data Pre-Processing

Scale the training and testing data using the `StandardScaler` from `sklearn`. Remember that when scaling the data, you only scale the features data (`X_train` and `X_testing`).

In [28]:
# Create the StandardScaler instance
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [29]:
# Fit the Standard Scaler with the training data
# When fitting scaling functions, only train on the training dataset
X_scaler = scaler.fit(X_train)

In [30]:
# Scale the training and testing data
X_trained_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Display the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier only, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [31]:
# Resample the training data with the BalancedRandomForestClassifier
from sklearn.ensemble import RandomForestClassifier
rf_model = RandomForestClassifier(n_estimators = 100, random_state = 1)
rf_model = rf_model.fit(X_trained_scaled, y_train)
predictions = rf_model.predict(X_test_scaled)

In [32]:
# Calculated the balanced accuracy score
balanced_accuracy_score(y_test, predictions)

1.0

In [33]:
# Display the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm

array([[  101,     0],
       [    0, 17104]], dtype=int64)

In [34]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, predictions))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       1.00      1.00      1.00      1.00      1.00      1.00       101
   low_risk       1.00      1.00      1.00      1.00      1.00      1.00     17104

avg / total       1.00      1.00      1.00      1.00      1.00      1.00     17205

In [35]:
# List the features sorted in descending order by feature importance
importances = rf_model.feature_importances_
listed = sorted(zip(rf_model.feature_importances_, X.columns), reverse = True)
listed

[(0.38939659498800316, 'tax_liens'),
 (0.3397278279818396, 'tot_hi_cred_lim'),
 (0.041841244910700535, 'initial_list_status'),
 (0.03875047301304865, 'total_pymnt_inv'),
 (0.03721179226004988, 'total_acc'),
 (0.0262227831718029, 'pub_rec'),
 (0.02572203317483488, 'revol_bal'),
 (0.004445464759946103, 'pub_rec_bankruptcies'),
 (0.0032538165196514773, 'open_acc'),
 (0.0029005276399773744, 'inq_last_6mths'),
 (0.002862756229684254, 'out_prncp'),
 (0.0027152644338764615, 'annual_inc'),
 (0.0026055814394801225, 'open_il_24m'),
 (0.002532292704721072, 'inq_last_12m'),
 (0.0024270793961271007, 'total_cu_tl'),
 (0.002331676484005715, 'dti'),
 (0.0023110265914620034, 'open_act_il'),
 (0.0023106506683808923, 'installment'),
 (0.002223581257578264, 'num_tl_op_past_12m'),
 (0.002089993207744974, 'collection_recovery_fee'),
 (0.002069532593856149, 'open_rv_24m'),
 (0.002058845798260243, 'loan_amnt'),
 (0.0020555304103992925, 'chargeoff_within_12_mths'),
 (0.0020033010034551228, 'home_ownership'),
 (0.0019565196257283657, 'acc_now_delinq'),
 (0.0019367623665623058, 'num_tl_90g_dpd_24m'),
 (0.0019124239222533426, 'num_tl_120dpd_2m'),
 (0.0018429059784957334, 'max_bal_bc'),
 (0.0018045129573480295, 'int_rate'),
 (0.0016998630424649227, 'num_tl_30dpd'),
 (0.0016300414614993277, 'application_type'),
 (0.0015457367311949102, 'bc_util'),
 (0.0015200110084499208, 'open_il_12m'),
 (0.0015100117933011736, 'pct_tl_nvr_dlq'),
 (0.0015082856345926007, 'tot_coll_amt'),
 (0.0014890575964981666, 'mths_since_recent_inq'),
 (0.0014530363907526893, 'mort_acc'),
 (0.0013733765994321007, 'acc_open_past_24mths'),
 (0.0013568612619901852, 'total_bal_il'),
 (0.001307319639028497, 'delinq_2yrs'),
 (0.0012440739415107815, 'percent_bc_gt_75'),
 (0.001207045882117553, 'all_util'),
 (0.0012063625001514481, 'num_accts_ever_120_pd'),
 (0.001200707964167131, 'open_acc_6m'),
 (0.0011723762724099441, 'num_op_rev_tl'),
 (0.0011223657503225933, 'num_actv_bc_tl'),
 (0.0010998561649340247, 'avg_cur_bal'),
 (0.0010967480176420612, 'last_pymnt_amnt'),
 (0.0010578003510528363, 'mo_sin_old_il_acct'),
 (0.0010475256995276798, 'open_rv_12m'),
 (0.0010443260792184412, 'il_util'),
 (0.0010397910274752753, 'mo_sin_old_rev_tl_op'),
 (0.001031500178013781, 'num_il_tl'),
 (0.0009564112851894089, 'mths_since_recent_bc'),
 (0.0009424468804360675, 'loan_status'),
 (0.0009193443589408434, 'pymnt_plan'),
 (0.0008657434961023497, 'next_pymnt_d'),
 (0.0008652453330635912, 'policy_code'),
 (0.0008173124334228473, 'num_rev_accts'),
 (0.0008151956568985079, 'bc_open_to_buy'),
 (0.0007941526293615364, 'tot_cur_bal'),
 (0.0006827451391564915, 'mo_sin_rcnt_tl'),
 (0.0006821152749865465, 'delinq_amnt'),
 (0.0006764797205678411, 'mo_sin_rcnt_rev_tl_op'),
 (0.0006285389987077751, 'issue_d'),
 (0.000626476689912661, 'recoveries'),
 (0.0005167718532390177, 'mths_since_rcnt_il'),
 (0.00040074758343492013, 'collections_12_mths_ex_med'),
 (0.00030928256043362347, 'verification_status'),
 (0.00016125502399791074, 'num_rev_tl_bal_gt_0'),
 (0.00013998073191856102, 'total_il_high_credit_limit'),
 (0.00012903658497838622, 'hardship_flag'),
 (0.00012633809004860338, 'total_rec_prncp'),
 (7.515104787384223e-05, 'num_bc_tl'),
 (3.1751770014626376e-05, 'debt_settlement_flag'),
 (9.64078985810982e-06, 'total_rev_hi_lim'),
 (0.0, 'total_rec_late_fee'),
 (0.0, 'total_rec_int'),
 (0.0, 'total_pymnt'),
 (0.0, 'total_bc_limit'),
 (0.0, 'total_bal_ex_mort'),
 (0.0, 'out_prncp_inv'),
 (0.0, 'num_sats'),
 (0.0, 'num_bc_sats'),
 (0.0, 'num_actv_rev_tl'),
 (0.0, 'inq_fi')]

### Easy Ensemble Classifier

In [36]:
# Train the Classifier
from imblearn.ensemble import EasyEnsembleClassifier
eec_model = EasyEnsembleClassifier(n_estimators = 100, random_state = 1)
eec_model = eec_model.fit(X_trained_scaled, y_train)
predictions = eec_model.predict(X_test_scaled)

In [37]:
# Calculated the balanced accuracy score
balanced_accuracy_score(y_test, predictions)

1.0

In [38]:
# Display the confusion matrix
# YOUR CODE HERE
cm = confusion_matrix(y_test, predictions)
cm

array([[  101,     0],
       [    0, 17104]], dtype=int64)

In [39]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, predictions))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       1.00      1.00      1.00      1.00      1.00      1.00       101
   low_risk       1.00      1.00      1.00      1.00      1.00      1.00     17104

avg / total       1.00      1.00      1.00      1.00      1.00      1.00     17205

### Which model had the best balanced accuracy score?

1. Looks like all of the classification reports had 100% on each aspects of the reports. I wasn't too sure how to proceed from here, so my ensemble data is inconclusive.

### Final Questions

2. Which model had the best recall score?

    YOUR ANSWER HERE.

3. Which model had the best geometric mean score?

    YOUR ANSWER HERE.

4. What are the top three features?

    YOUR ANSWER HERE.